apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hack-for-facts
resources:
- postgres-deployment.yaml
- postgres-userdata.yaml
- deployment.yaml
- service.yaml
- virtual-service.yaml
- configmap.yaml
- redis.yaml
commonLabels:
  app.kubernetes.io/name: hack-for-facts-eb-server
  app.kubernetes.io/part-of: hack-for-facts

patches:
- patch: |-
    - op: replace
      path: /spec/bootstrap/initdb/database
      value: hack-for-facts
    - op: replace
      path: /spec/bootstrap/initdb/owner
      value: hack-for-facts_user
  target:
    kind: Cluster
    name: postgres-db
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: hack-for-facts-eb-server
    spec:
      template:
        metadata:
          annotations:
            image-sha: 0796df1ee5f6103d1ff3a50b88c2154e124582b2
  target:
    kind: Deployment
    name: hack-for-facts-eb-server
images:
- name: harbor.devostack.com/hack-for-facts/hack-for-facts-eb-server
  newName: harbor.devostack.com/hack-for-facts/hack-for-facts-eb-server
  newTag: 0796df1ee5f6103d1ff3a50b88c2154e124582b2
